[user]
	# These values are set in ~/.gitconfig_local
[include]
	path = ~/.gitconfig_local
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[delta]
	navigate = true
